header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position: relative;
}


.nav-a {
    font-size: 16px;
    color: #404040CC;
    font-family: "Roboto-Regular";
}

.nav-a:hover, .nav-a:active {
    font-weight: bolder;
}

.logo {
    height: 41px;
}

.burger-menu {
    font-size: 32px;
    cursor: pointer;
    display: none; 
}

.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.title {
    font-family: "Roboto-Black";
}

.img {
    max-width: 50%;
    padding: 3rem;
}

.img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 50%;
    max-width: 161px;
    height: 60px;
    background: #09B451;
    color: white;
    margin-top: 3rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.topics {
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width: 1227px;
    margin: 0 auto 141px; 
    gap: 2rem; 
    flex-wrap: wrap;
}

.topics-el {
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 220px;
    height: 60px;
    background: #DDFFFF;
    padding: 5px;
    border-radius: 15%;
}

.topics-span {
    font-family: "Roboto-Regular";
}

.slider-container {
    position: relative;
    max-width: 1237px;
    margin: auto;
    overflow: hidden;
}

.course-categories {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.course-el {
    flex: 1 0 25%;
    text-align: center;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev { left: 0; }
.next { right: 0; }

.section-title {
    padding-left: 9%;
    font-size: 32px;
    font-family: "Roboto-SemiBold";
}

.popular-courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.popular-text {
    font-family: "Roboto-Regular";
}

@media (max-width: 768px) {
    .burger-menu {
        display: block; 
    }
    .nav-list {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        width: 100%;
        text-align: center;
    }

    .nav-list.active {
        display: flex;
    }

    .popular-courses {
        grid-template-columns: repeat(2, 1fr);
    }

    .course-el {
        flex: 1 0 100%; 
    }
    
}

@media (max-width: 480px) and (min-width: 320px) {
    .popular-courses {
        grid-template-columns: repeat(1, 1fr);
    }
}


